@import url("flatpickr/dist/flatpickr.min.css");
@import url("izitoast/dist/css/iziToast.min.css");

* {
  box-sizing: border-box;
}

img {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.timer {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  list-style: none;
  gap: 8px;
  /* column-gap: 24px; */
}
